body {
    font-family: sans-serif;
}


h1 {
   
    font-size: 50px;
    color: #086ec5;
    font-weight:500;
    opacity: 0.9;

}
h2 {
     font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    opacity: 0.7;
}

.temperature-display {
   font-family: 'Roboto Mono', monospace;
font-size: 65px;
font-weight: 800;
position: relative;
right: 6px;
top:15px;

}
h4 {
   font-size: 16px;
   opacity: 0.5;
   text-align: center;
}

ul {
    list-style-type: none;x
    padding: 0;
    margin: 0;
    line-height: 1.5px;
}

a {
    text-decoration: none;
}


.parameters {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.weather-app {
    margin: 20px 0 0 0;
    padding: 20px;
    border: 1px solid #fabd07;
    border-radius: 10px;
}

.app-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.temperature-unit {
    position: relative;
    bottom:20px;
    right: 6px;
    font-size: 14px;
}
.description {
    font-size: 20px;
    text-transform: capitalize;
    opacity: 0.8;
}

.current-icon img {
    width:70px;
    height: 70px;
}

.temperature-unit .active {
    color: black;
    cursor: default;
}

.temperature-unit .active:hover {
    text-decoration: none;
}

.weather-forecast {
    text-align: center;
}
.forecast-day {
    opacity: 0.6;
  
    font-size: 18px;
}

.forecast-min {
    opacity: 0.5;
}

